.oss-grey { color: grey }
.oss-grey a:hover { color: black }

.oss-jumbo {
	margin-right: 20em;
	margin-top: 2em;
	background: white;
	background-color: rgba(255, 255, 255, 0.666);
	padding: 1em 2em;
}

.oss-bg {
	/* Source: https://sh.wikipedia.org/wiki/Bratislava#/media/File:BratislavaNight.jpg */
	background-image: url('BratislavaNight.jpg');
	background-repeat: no-repeat;
	background-position: 0px -100px;
}

* {
	max-width: 1500px;
}

@media only screen and (max-width: 1000px) {

	.oss-jumbo {
		margin-right: 10em;
	}

}

@media only screen and (max-width: 800px) {

	.w3-jumbo {
		font-size: 32px !important;
	}

	.w3-margin {
		margin: 16px 0px !important;
	}

	.w3-card-4 {
		margin-bottom: 16px !important;
	}

	.w3-xlarge {
		font-size: 24px !important;
	}

	.oss-jumbo {
		padding: 8px !important;
		margin: 8px !important;
	}

	.oss-bg {
		padding: 8px !important;
		margin: 0px !important;
		background-position: 0px 0px;
	}

	.w3-jumbo {
		font-size: 32px;
	}

}
